@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

/* * {
    margin: 0;
    padding: 0;
} */

body {
    margin-top: 10rem;
    font-family: 'Dongle', sans-serif;
}

header {
    display: flex;
    justify-content: center;

}

h1 {
    color: rgba(0, 0, 0);
    font-size: 70px;
    font-weight: 500;
    margin-bottom: auto;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
}

.cell {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    border: solid 1px;
    width: 100px;
    user-select: none;
    height: 100px;
}

.cell:hover {
    background-color: rgb(175, 175, 175, .5);
}

.cell:nth-child(1) {
    border-top: none;
    border-left: none;
}

.cell:nth-child(2) {
    border-top: none;
}

.cell:nth-child(3),
.cell:nth-child(4),
.cell:nth-child(6) {
    border-top: none;
    border-right: none;
    border-left: none;
}

.cell:nth-child(5) {
    border-top: none;
}

.cell:nth-child(7) {
    border: none;
}

.cell:nth-child(8) {
    border-top: none;
    border-bottom: none;
}

.cell:nth-child(9) {
    border: none;
}